#shapka {
  max-width: 1920px;
  width: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
}

header {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 222px;
  text-decoration: none;
}

.logo img {
  margin-right: 10px;

}

.home {

  width: 122px;
  height: 15px;
  color: #284157;
  font-family: Geometria;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  font-family: Geometria;
  letter-spacing: 0.16px;
}

.logo span {

  width: 122px;
  height: 15px;
  color: #284157;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  /* Text style for "Д, ома" */
  font-family: "Geometria - Bold";
  font-weight: 700;
  letter-spacing: 0.16px;
}

.timework {
  max-width: 135px;
  widt: 100%;
}

div.time {
  color: #284157;
  font-size: 1rem;
  line-height: 19px;
  font-family: "Geometria - Bold";
  font-weight: 700;
  letter-spacing: 0.12px;
}

.time span {
  font-size: 0.8rem;
}

.timeworklogo {
  display: flex;
  align-items: center;
}

.ask {
  width: 200px;
  color: #284157;
  font-family: Geometria;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
  letter-spacing: 0.12px;
}

.number {
  font-style: italic;
  width: 144px;
  color: #284157;
  font-family: Geometria;
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
  margin: 0;
  letter-spacing: 0.15px;
}

input::placeholder {
  font-style: italic;
  text-align: center;
}


#display1 {

  background: url("../img/display1/banner-3_1.jpg") no-repeat center top;
  max-width: 1920px;
  width: 100%;
  height: auto;
}

#blockconteiner {
  display: flex;
  padding: 100px 0;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-width: 504px;
}

.stroimdoma {
  margin-bottom: 30px;
  width: 100%;
  color: #ffffff;
  font-family: Geometria;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.36px;

}

.schego {
  /* Style for "из бетона," */
  width: 400px;
  margin-bottom: 30px;
  width: 100%;
  color: #ffffff;
  font-family: Geometria;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 26px;
}

.gde {
  max-width: 144px;
  width: 100%;
  color: #ffffff;
  font-family: Geometria;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 26px;

}
.top-block{
  max-width: 400px;
}
#bottom-blockstyle {
  display: flex;
  justify-content: space-between
}

.brigad {
  color: #ffffff;
  font-family: Geometria;
  font-size: 1rem;
  font-weight: 500;
}

.bottom-block div > div:last-child {
  margin-right: 0;
}

.bottom-block div > div {
  margin-right: 30px;
}

.oput {
  width: 100%;
  color: #ffffff;
  font-family: Geometria;
  font-size: 1rem;
  font-weight: 500;
}

.sozdanie {
  width: 100px;
  width: 100%;
  color: #ffffff;
  /* Text style for "Создаем до" */
  font-family: "Geometria - Medium";
  font-size: 1rem;
  font-weight: 500;
  /* Text style for "реконструи" */

}

.sozdanie span {
  width: 100%;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: Geometria;
  line-height: 24px;
}

.mnougol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Style for "Многоуголь" */
  background: url("../img/display1/Mnogougol.png");
  max-width: 369px;
  min-height: 417px;
  width: 100%;
  background-color: transparent;
}

.free {
  /* Style for "Бесплатно" */
  box-sizing: border-box;
  padding: 0 92px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 1rem;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
  text-align: center;
}
.free div{
  font-weight: bold;
  max-width: 50px;
  width: 100%;
}
.name {
  /* Style for "Ваше имя" */
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 19px;
  color: #000000;
  font-family: "Geometria";
}
.mnougol input{
  margin: 15px;
  height: 35px;
}

.younumber {
  /* Style for "Ваш телефо" */
  text-align: center;
  max-width: 78px;
  width: 100%;
  opacity: 0.5;
  color: #000000;
  font-family: Geometria;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  /* Text style for "В, аш теле" */
  letter-spacing: 0.12px;
}

.button1 {
  /* Style for "Прямоуголь"*/
  padding-top: 10px;
  text-align: center;
  max-width: 190px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffb111;
  background-image: linear-gradient(-221deg, #fb2b2b 0%, #f86c26 100%);
}

div.button1 a {
  text-align: center;
  text-decoration: none;
  max-width: 101px;
  width: 100%;
  color: #ffffff;
  font-family: Geometria;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.13px;
}
#ready_project .button1{
  margin: 0 auto;
}

#ready_project {
  padding-top: 75px;
  max-width: 1920px;
  width: 100%;
  text-align: center;
}

.EconomMediumPremium {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 1.7rem;
  color: #2a4258;
  font-family: "Geometria";
  font-weight: bold;
  text-align: center;
}
.btn{
  margin-right: 20px;
  border: 0;
  background: none;
  box-shadow: none;
}
.btn:last-child{
  margin-right: 0;
}
.btn.active{
  border: 1px solid black;
}
.readyproject span {
  margin-right: auto;
  margin-left: auto;
  max-width: 486px;
  width: 100%;
  color: #284157;
  font-family: Geometria;
  font-size: 2rem;
  font-weight: 700;
}

.blockreadyproject {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.blockreadyproject h4 {
  font-weight: initial;
  font-family: Geometria;
  font-style: italic;
}
#imgreadyproject {
  width: 370px;
  height: 240px;
}
.arrow-left{
  background-size: cover;
  width: 50px;
  height: 50px;

}
.arrow-right{
  background-size: cover;
  width: 50px;
  height: 50px;
}





.owl-carousel .owl-dot.active span{
  opacity: 50% !important;
  background-image: url("../img/ready_project/Эллипс.png") !important;

}
.owl-carousel .owl-dot span {
  opacity: 30% !important;
  background-size: cover !important;
  width:20px !important;
  height: 20px!important;
  background-image: url("../img/ready_project/Эллипс1.png")!important;
  background-repeat: no-repeat!important;
}
.owl-carousel.active{
  width: 100%;
  text-align: center;
}






#Individualproject {
  background: url("../img/Individual_project/079_cam01.png");
  width: 1920px;
  width: 100%;
  height: 1439px;
}

.upperleaves {
  margin: 0 auto;
  background: url("../img/Individual_project/верхние_листья.png") no-repeat;
  background-position:center ;
  width: 477px;
  width: 100%;
  height: 80px;
}
.individualplan h1{
  text-align: center;
  margin-bottom: 20px;
}
.developedproject h4{
  text-align: center;
  font-weight: initial;
  margin-bottom: 20px;
}
.blockIndividualProject.owl-carousel .owl-dots {
  display: none;
}
.blockIndividualProject2.owl-carousel .owl-dots {
  display: none;
}
.WeOriginal h4{
  text-align: center;
  font-weight: initial;
  margin-bottom: 20px;
}
#imgIndividual1{
  width:370px;
  height: 245px;
}
#block1IndividualProject h4{
  text-align: center;
  font-weight: initial;
}

#wedeveloped {
  font-size: 1.2rem;
  color: #284157;
  font-family: "Geometria";
  text-align: center;
}

.readydeveloped {
  background: url("../img/Individual_project/Прямоугольник.png");
  max-width: 1172px;
  min-height: 353px;
  width: 100%;
  background-color: transparent;
}
.blockform{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.readydeveloped h2{
  padding-top: 50px;
  padding-left: 100px;
}

.readydeveloped h4{
  padding-left: 100px;
  font-weight: initial;
  padding-bottom: 30px;
}
.blockform input{
  margin-left: 40px;
  padding-right: 80px;
  height: 50px;
}
.blockform .button1{
  height: 50px;
  text-align: center;
}



.warranty20 h1 {
  margin-top: 30px;
  padding:0 200px;
  font-weight: bold;
  text-align: center;
}
.wecontrol h3 {
  margin: 50px 0;
  padding: 0 350px;
  font-weight: initial;
  text-align: center;
}
.imghome{
  text-align: center;
  width: 603px;
  height: 478px;
  background: url("../img/warranty/Слой7.png") no-repeat;
  background-position: center;
}
.blocktextwarranty{
  display: flex;
  align-items: center;
}

.textwarrantyLeft{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 80px;
}
.textwarrantyLeft a{
  padding-left: 50px;
  margin-bottom: 70px;
}
.textwarrantyRight{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.textwarrantyRight a{
  padding-right: 50px;
  margin-bottom: 70px;
}

#materials{
  background: url("../img/materials/Прямоугольник7.png");
  width: 1922px;
  width: 100%;
  height: 602px;
}
.wematerials h1{
  padding-top: 80px;
  margin-bottom: 40px;
  color: #ffffff;
  font-family: "Geometria";
  font-weight: bold;
  text-align: center;
}
.blockmaterials{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.blockmaterials h4{
  color: #ffffff;
  text-align: center;
}
.blockmaterials a{
  color: #ffffff;
  text-align: center;
}
#materials .button2{
  margin: 0 auto;
  text-align: center;
}





#deadlines {
  background: url("../img/deadlines/sovremennyy.png");
  width: 1920px;
  width: 100%;
  height: 780px;
}
.imgleaves{
  background: url("../img/deadlines/листья.png") no-repeat;
  width: 469px;
  width: 100%;
  height: 100px;
}
.deadlinesblock1{
  display: flex;
}
.deadlinesblock2{
  display: flex;
}
.deadlinesblock3{
  display: flex;
}
.imgdz {
  padding-left:  200px;

}
.imgprorab{
  padding-left:  200px;
}
.imgotchot{
  padding-left:  200px;
}
.deadlinestext h1{
  margin-bottom: 50px;
  padding: 0 200px;
  color: #284157;
  font-weight: bold;
  text-align: center;
}
.deadlinesblock1{
  margin-bottom: 30px;
}
.deadlinesblock2{
  margin-bottom: 30px;
}
.deadlinesblock3{
  margin-bottom: 30px;
}
.deadlinesblock1text h3{
  padding-left: 30px;
  padding-right: 320px;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
}
.deadlinesblock1text h4{
  padding-left: 30px;
  color: #284157;
  font-family: "Geometria";
  font-weight: initial;
}
.deadlinesblock2text h3{
  padding-left: 30px;
  padding-right: 320px;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
}
.deadlinesblock2text h4{
  padding-left: 30px;
  color: #284157;
  font-family: "Geometria";
  font-weight: initial;
}
.deadlinesblock3text h3{
  padding-left: 30px;
  padding-right: 320px;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
}
.deadlinesblock3text h4{
  padding-left: 30px;
  color: #284157;
  font-family: "Geometria";
  font-weight: initial;
}







.allemployeestext h1{
  margin-top: 60px;
  margin-bottom: 40px;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
  text-align: center;
}
.imgallemployees{
  position:relative;
  width: 607px;
  height: 300px;
}
.frameallemployees{
  position:absolute;
  width:100%;
}
.photo{
  position:absolute;
  height: 225px;
  left:120px;
  top: 50px;
  transform: translate(-50px, -50px);

}
.blockallemployess{
  display: flex;
}
.allemployesstextinfo{

}
.allemployesstextinfo h3{
  padding: 0 200px;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
}
.allemployesstextinfo h4{
  padding: 0 200px;
  color: #284157;
  font-family: "Geometria";
  font-weight: initial;
}




.keyperson{
  background: url("../img/keyperson/Прямоугольникbackground.png");
  width: 1922px;
  width: 100%;
  height: 793px;
}
.keypersontitle h1{
  padding-top: 80px;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
  text-align: center;
}
.keypersonblock1{
  width: 370px;
  height: 505px;
}
.keypersonblockall{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.hexagon{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  position: relative;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
/*.hexagon:before {
  content: "";
  position: absolute;
  top: -75px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 75px solid orange;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -75px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 75px solid orange;
}*/

.keypersonblock1img1{
  position:relative;
  width: 148px;
  height: 170px;
}
.keypersonblock1frame{
  position:absolute;
  width:100%;
}
.keypersonblockphoto{
  max-width:180px;
  width: 100%;
  height: 180px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.keypersonblock1 h2{
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
}
.keypersonblock1form{
  background: url("../img/keyperson/Прямоугольникскругл.углы4.png") no-repeat;
  width: 372px;
  width: 100%;
  height: 223px;
  border-radius: 10px;
}
.keypersonblock1 h4{
  color: #284157;
  font-family: "Geometria";
  font-weight: initial;
}


.keypersonblockromb{
  background: url("../img/keyperson/Ромб.png") no-repeat;
  width: 32px;
  width: 100%;
  height: 33px;
  border-radius: 15px;
}
.keypersonblock1form {
  display: flex;
}
.keypersonblock1form h4{

}



.FAQ{
  background: url("../img/FAQ/56095копия3.png");
  width:1920px;
  width: 100%;
  height: 748px;
}
.FAQ h1{
  padding-top: 100px;
  padding-bottom: 30px;
  color: #ffffff;
  font-family: "Geometria";
  font-weight: bold;
  text-align: center;
}
.FAQ h3{
  padding-bottom: 30px;
  color: #ffffff;
  font-family: "Geometria";
  text-align: center;
  font-weight: initial;
}
 ol {
  list-style: none;
  counter-reset: item
}
li{
  counter-increment: item;
  margin-bottom: 40px;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Geometria";

}
 li:before{
   line-height: 25px;
  background: none;
  margin-right: 10px;
  content: counter(item);
  display: inline-block;
  border-radius: 100%;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Geometria";
   position: absolute;
   width: 25px;
   height: 25px;
   border: 1px solid white;
   text-align: center;
}
.FAQ li a{
  margin-bottom: 20px;
  padding-left: 35px;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Geometria";
}




.freeconsultation{
  background: url("../img/freeconsultation/Прямоугольник3.png") no-repeat;
  width: 1920px;
  width: 100%;
  height: 416px;
}
.freeconsultation h2:first-child{
  padding-top: 50px;
}
.freeconsultation h2{
  margin: 0 auto;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
  padding-left: 100px;
}
.freeconsultation h4{
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
  padding-left: 100px;
  font-weight: initial;
}
.freeconsultationdowntext {
  display: flex;
}
.freeconsultationdowntext h4:last-child{
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
  padding-left: 10px;
}
.contactblock{
  display: flex;
}
.contactblockright{
  background: url("../img/contact/Прямоугольник3копия3.png") no-repeat ;
  width: 950px;
  height: 543px;
}
.contactblockright h2:first-child{
  padding-top:100px;
}
.contactblockright h2{
  margin: 0 auto;
  padding-left: 100px;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
}
.contactblockright h4{
  color: #284157;
  font-family: "Geometria";
  font-weight: initial;
  padding-left: 30px;
}
.contactinfo{
  color: #284157;
  font-family: "Geometria";
  font-weight: initial;
  padding-left: 90px;
}
.contactblockrightgeo{
  display: flex;
}
.contactblockrightgeo p{
  margin:  0 auto;
  color: #284157;
  font-family: "Geometria";
}
.contactblockrightphone{
display: flex;
}
.contactblockrightphonetext p{
  margin:  0 auto;
  color: #284157;
  font-family: "Geometria";
  font-weight: bold;
}
.contactblockrightclock{
  display: flex;
}
.contactblockrightclock p{
margin: 0 auto;
}




.contacntimg1{
  width: 15px;
  height: 20px;
}
.contacntimg2{
  width: 15px;
  height: 20px;
}
.contacntimg3{
  width: 15px;
  height: 20px;
}
.contactblockright img{
  padding-left: 100px;
  padding-top: 25px;
}






.footerlogo{
  padding: 30px 0;
}
